{% extends 'base.html' %}

{% block title %}Injections{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Welcome to Injections Analysis</h1>
        <p class="lead">Explore and analyze data on injections with our dashboard.</p>
        <hr class="my-4">
        <p>View trends, user statistics, and sector statistics to gain valuable insights.</p>
        <a class="btn btn-primary btn-lg" href="/dashboard" role="button">Go to Dashboard</a>
    </div>

    <!-- Include the Plotly figure HTML -->
    <div id="plotly-container">
        {{ graph_html | safe }}
    </div>
{% endblock %}
